.movieCard{
    display: grid;
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;    
    -webkit-box-shadow: 0px 0px 20px 2px #3380f4;
    -moz-box-shadow: 0px 0px 20px 2px #3380f4;
    -ms-box-shadow: 0px 0px 20px 2px #3380f4;
    -o-box-shadow: 0px 0px 20px 2px #3380f4;
    box-shadow: 0px 0px 20px 2px #3380f4;
    border-radius: 15px;
    
}

.movieCard:hover{
    opacity: 0.6;
    -webkit-box-shadow: 0px 0px 20px 2px #2310f7;
    -moz-box-shadow: 0px 0px 20px 2px #2310f7;
    -ms-box-shadow: 0px 0px 20px 2px #2310f7;
    -o-box-shadow: 0px 0px 20px 2px #2310f7;
    box-shadow: 0px 0px 20px 2px #2310f7;
}
.movieImage{
    border-radius: 10px;
    background-color: azure;
    width: 230px;
    height: 300px;
    
    
}

.tittleBox{
    color: #000;
    
    
}





.moviesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    
}

@media (max-width: 560px){
    .moviesGrid{
        grid-template-columns: 100%;
        margin:auto;
        justify-content: center;
    }

    .movieImage{
        width: 100%;
        height: auto;
    }

    .movieCard{
        display: grid;
        list-style: none;
        font-size: 1rem;
        text-align: center;
    }
}