.searchContainer{
    display: flex;
    justify-content: center;
}

.searchBox{
    position: relative;
}

.searchInput{
    font-size: 1.2rem;
    border-radius: 10px;
    height: 40px;
    width: 40vw;
    padding: 5px 35px 5px 10px;
    border: none;
    opacity: 0.8;
    border: 1px solid #3380f4;
    
    
}

.searchInput:active{
    background: #3380f4;
}

.searchInput:focus,
.searchButtom:focus{
    outline: none;
    border: 1px solid #2310f7;
    box-shadow: #3380f4;
    
}

.searchButtom{
    position: absolute;
    right: 6px;   
    top:0; 
    background: none;
    height:100%;
    border: none;
    margin: 1px;
    color: #000
}